.btn {
    background-color: $c-primary;
    color: #fff;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 90%;

    display: inline-block;
    padding: .75em 4em;
    border-radius: 50px;
}
