// -----------------------------------------------------------------------------
// This file contains accessibility (A11y) classes.
// -----------------------------------------------------------------------------

.visually-hidden {
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    overflow: hidden;

    position: absolute;

    clip: rect(0 0 0 0);
}
