body {
    color: $c-text;
    @include font();
    font-size: 1.6rem;
    -webkit-font-smoothing: antialiased;
}

h1 {
    font-size: 2rem;
    font-weight: 600;
    line-height: 1.2;
    text-transform: uppercase;

    margin: 0 0 .5em;
}

h2 {
    font-size: 1.5rem;
    line-height: 1.2;
    text-transform: uppercase;

    margin-top: 0;
}
